# Net Present Value Queries (Morgan Stanley)
##### *SQL*

Write an SQL query to find the net present value (NPV) of each query in the Queries table.

In [2]:
from IPython.display import display, HTML
display(HTML('<table style="width: 75%;"><tr><td><img src="img/npv.png"/></td><td><img src="img/queries.png"/></td><td><img src="img/result.png"/></td></tr></table>'))

Run the following code block to initialize a connection to a pre-prepared SQLite3 database which contains the `NPV` and `Queries` tables from above.

In [1]:
import sqlite3

con = sqlite3.connect('03.db')
for row in con.execute('SELECT * FROM npv'):
    print(row)
for row in con.execute('SELECT * FROM queries'):
    print(row)

(1, 2018, 100)
(7, 2020, 30)
(13, 2019, 40)
(1, 2019, 113)
(2, 2008, 121)
(3, 2009, 12)
(11, 2020, 99)
(7, 2019, 0)
(1, 2019)
(2, 2008)
(3, 2009)
(7, 2018)
(7, 2019)
(7, 2020)
(13, 2019)

Then, you can use the following empty code block to formulate your solution for this problem. You can execute SQL commands by calling `con.execute(...)`, passing the method a string containing your SQL query (see the above `for` loop for an example).

In [ ]:
con.execute(...)

### Solution

This solution employs the [SQL COALESCE function](https://www.postgresqltutorial.com/postgresql-coalesce/).

In [2]:
print(con.execute('''
select q.id, q.year, coalesce(n.npv, 0) as npv
from queries q
left join npv n
on q.id = n.id and q.year = n.year
''').fetchall())

[(1, 2019, 113), (2, 2008, 121), (3, 2009, 12), (7, 2018, 0), (7, 2019, 0), (7, 2020, 30), (13, 2019, 40)]