# Active Businesses (Capital One)
##### *SQL*

Write an SQL query to find all active businesses. An active business is a business that has more than one event type with occurrences greater than the average occurrences of that event type among all businesses.

In [1]:
from IPython.display import display, HTML
display(HTML('<table><tr><td><img src="img/table.jpg"/></td><td><img src="img/result.jpg"/></td></tr></table>'))

Run the following code block to initialize a connection to a pre-prepared SQLite3 database which contains the `Events` table from above.

In [3]:
import sqlite3

con = sqlite3.connect('03.db')
for row in con.execute('SELECT * FROM events'):
    print(row)

(1, '5k run', 7)
(1, 'charity', 23)
(2, 'meeting', 12)
(3, '5k run', 3)
(4, '5k run', 2)
(5, 'charity', 9)
(6, 'charity', 11)

Then, you can use the following empty code block to formulate your solution for this problem. You can execute SQL commands by calling `con.execute(...)`, passing the method a string containing your SQL query (see the above `for` loop for an example).

In [ ]:
con.execute(...)

### Solution

In [5]:
print(con.execute('''
select c.business_id
from (
    select *
    from events e
    join (
        select event_type as event, round(avg(occurrences), 2) as average
        from events
        group by event_type
    ) b
    on e.event_type = b.event
) c
where c.occurrences > c.average
group by c.business_id
having count(*) > 1
''').fetchall())

[(1,)]