# Page Recommendations (ByteDance)
##### *SQL*

Write an SQL query to recommend pages to the user with `user_id=1` using the pages that their friends liked. It should not recommend pages you already liked.

In [3]:
from IPython.display import display, HTML
display(HTML('<table style="width: 75%;"><tr><td><img src="img/friendship.png"/></td><td><img src="img/likes.png"/></td><td><img src="img/result.png"/></td></tr></table>'))

Run the following code block to initialize a connection to a pre-prepared SQLite3 database which contains the `Friendship` and `Likes` tables from above.

In [1]:
import sqlite3

con = sqlite3.connect('03.db')
for row in con.execute('SELECT * FROM friendship'):
    print(row)
for row in con.execute('SELECT * FROM likes'):
    print(row)

(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(2, 5)
(6, 1)
(1, 88)
(2, 23)
(3, 24)
(4, 56)
(5, 11)
(6, 33)
(2, 77)
(3, 77)
(6, 88)

Then, you can use the following empty code block to formulate your solution for this problem. You can execute SQL commands by calling `con.execute(...)`, passing the method a string containing your SQL query (see the above `for` loop for an example).

In [ ]:
con.execute(...)

### Solution

This solution employs the [SQL UNION ALL operator](https://www.postgresqltutorial.com/postgresql-union/).

In [3]:
print(con.execute('''
select distinct page_id as recommended_page
from likes
where user_id in (
    select user2_id as id
    from friendship
    where user1_id = 1 or user2_id = 1 and user2_id != 1
    union all
    select user1_id
    from friendship
    where user2_id = 1
)
and page_id not in (
    select page_id
    from likes
    where user_id = 1
)
''').fetchall())

[(23,), (24,), (56,), (33,), (77,)]