# Unpopular Books (Qualtrics)
##### *SQL*

Write an SQL query that reports the books that have sold less than 10 copies in the last year, excluding books that have been available for less than 1 month from today. Assume that today is 06-23-2019.

In [14]:
from IPython.display import display, HTML
display(HTML('<table><tr><td style="width: 33%;"><img src="img/books.png"/></td><td style="width: 28%;"><img src="img/orders.png"/></td><td style="width: 30%;"><img src="img/result.png"/></td></tr></table>'))

Run the following code block to initialize a connection to a pre-prepared SQLite3 database which contains the `Books` and `Orders` tables from above.

In [1]:
import sqlite3

con = sqlite3.connect('03.db')
for row in con.execute('SELECT * FROM books'):
    print(row)
for row in con.execute('SELECT * FROM orders'):
    print(row)

(1, 'Kalila And Demna', '2010-01-01')
(2, '28 Letters', '2012-05-12')
(3, 'The Hobbit', '2019-06-10')
(4, '13 Reasons Why', '2019-06-01')
(5, 'The Hunger Games', '2008-09-21')
(1, 1, 2, '2018-07-26')
(2, 1, 1, '2018-11-05')
(3, 3, 8, '2019-06-11')
(4, 4, 6, '2019-06-05')
(5, 4, 5, '2019-06-20')
(6, 5, 9, '2009-02-02')
(7, 5, 8, '2010-04-13')

Then, you can use the following empty code block to formulate your solution for this problem. You can execute SQL commands by calling `con.execute(...)`, passing the method a string containing your SQL query (see the above `for` loop for an example).

In [ ]:
con.execute(...)

### Solution

In [2]:
print(con.execute('''
select b.book_id, name
from (
    select *
    from books
    where available_from < '2019-05-23'
) b
left join (
    select *
    from orders
    where dispatch_date > '2018-06-23'
) a
on a.book_id = b.book_id
group by b.book_id, name
having coalesce(sum(quantity), 0) < 10
''').fetchall())

[(1, 'Kalila And Demna'), (2, '28 Letters'), (5, 'The Hunger Games')]