# Manager With at Least 5 Direct Reports (Visa)
##### *SQL*

Given the Employee table, write a SQL query that finds out managers with at least 5 direct reports.

In [10]:
from IPython.display import display, HTML
display(HTML('<table><tr><td><img src="img/employee.jpg"/></td><td><img src="img/result.jpg"/></td></tr></table>'))

Run the following code block to initialize a connection to a pre-prepared SQLite3 database which contains the `Employee` table from above.

In [12]:
import sqlite3

con = sqlite3.connect('03.db')
for row in con.execute('SELECT * FROM employee'):
    print(row)

(1, 'Rick', None)
(2, 'Rob', None)
(3, 'Charlie', 1)
(4, 'Meghan', 2)
(5, 'Casey', 1)
(6, 'Everett', 2)
(7, 'Elliot', 1)
(8, 'Bruce', 1)
(9, 'Ethan', 1)

Then, you can use the following empty code block to formulate your solution for this problem. You can execute SQL commands by calling `con.execute(...)`, passing the method a string containing your SQL query (see the above `for` loop for an example).

In [ ]:
con.execute(...)

### Solution

In [13]:
print(con.execute('''
with t1 as (
    select managerId, count(name) as total
    from employee
    group by managerId
)
select e.name
from t1
join employee e
on t1.managerId = e.id
where t1.total >= 5
''').fetchall())

[('Rick',)]